.App{
  padding: 2vh 2vw;
}
.appContainer{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.heading{
  color: rgba(52, 64, 84, 1);
  font-size: 2.5vw;
  padding: 0;
  margin: 0;
}
.info{
  font-size: 2vw;
  padding: 0;
  margin: 0;
  color: rgba(52, 64, 84, 1);
}
.tabsContainer{
  background-color:rgba(249, 250, 251, 1);
  display: flex;
  border: 0.5px solid rgba(128, 128, 128, 0.619);
    width: 50vw;
    padding: 1px;
    border-radius: 5px;
}
.wordTab,.paraTab{
  flex: 1;
  border: none;
  background-color: inherit;
  font-size: 1vw;
  padding: 4px;
  font-weight: bold;
  color: rgba(52, 64, 84, 1);
}
.active{
  flex: 1;
  border-radius:5px; 
  border: 0.2px solid rgb(220, 215, 215);
  background-color: white;  
  font-size: 1vw;
  padding: 4px;
  font-weight: bold;
  color: rgba(52, 64, 84, 1);
}
.inputtext{
  font-size: 1vw;
  border-radius: 5px;
  padding: 10px;
  height: 30vh;
  outline: none;
}
table{
  border-collapse: collapse;
}
th{
  color: rgba(52, 64, 84, 1);
}
td,th{
  text-align: left;
  font-size: 1vw;
  background-color: white;
  border-collapse: collapse;
  border:1px solid lightgray;
  padding: 10px;
}