@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  background-color: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(239, 246, 255, 1));
  background-color: rgba(239, 246, 255, 1);
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
}
